    <!-- Favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/img/favicon.png')}}">

    <!-- Apple Icon -->
    <link rel="apple-touch-icon" href="{{url_for('static', filename='assets/img/apple-icon.png')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">

{% if page not in ['login', 'register', 'email-verification', 'forgot-password', 'otp','reset-password'] %}
    <!-- Theme Script -->
    <script src="{{url_for('static', filename='assets/js/theme-script.js')}}"></script>
{% endif %}

    <!-- Lucide Icon CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/lucide/lucide.css')}}">

{% if page not in ['login', 'register', 'email-verification', 'forgot-password', 'otp','reset-password'] %}
    <!-- Simplebar CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/simplebar/simplebar.min.css')}}">
{% endif %}

{% if page in ['addons', 'coupons', 'index', 'invoices', 'kanban-view', 'payments', 'orders', 'role-permission', 'users'] %}
    <!-- Daterangepikcer CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/daterangepicker/daterangepicker.css')}}">
{% endif %}

{% if page in ['addons', 'audit-report', 'categories', 'coupons', 'customer-report', 'customer', 'delivery-settings', 'earning-report', 'integrations-settings', 'invoices', 'items', 'notifications-settings', 'order-report', 'payment-settings', 'payments', 'print-settings', 'role-permission', 'sales-report', 'store-settings', 'table', 'users'] %}
    <!-- Datatable CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/datatables/dataTables.bootstrap5.min.css')}}">
{% endif %}

{% if page in ['audit-report', 'coupons', 'customer-report', 'customer', 'delivery-settings', 'earning-report', 'integrations-settings', 'kitchen', 'pos', 'notifications-settings', 'order-report', 'orders', 'payment-settings', 'print-settings', 'reservations', 'sales-report', 'store-settings', 'table'] %}
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/flatpickr/flatpickr.min.css')}}">
{% endif %}

{% if page in ['pos'] %}
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/slick/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/slick/slick-theme.css')}}">
{% endif %}

{% if page in ['addons', 'audit-report', 'categories', 'coupons', 'customer-report', 'customer', 'delivery-settings', 'earning-report', 'index', 'integrations-settings', 'invoices', 'items', 'kitchen', 'pos', 'notifications-settings', 'order-report', 'orders', 'payment-settings', 'payments', 'print-settings', 'reservations', 'role-permission', 'sales-report', 'store-settings', 'table', 'tax-settings', 'users'] %}
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/plugins/select2/css/select2.min.css')}}">
{% endif %}

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
