.ant-table-content .ant-table-tbody .ant-table-row .ant-table-cell {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    padding: 12px 16px;
    border-top: none !important;
}
.ant-table-content .ant-table-thead tr th{
    padding: 8px 16px !important;
}
.ant-table-cell{
	color: var(--cf-gray-900) ;
    background: var(--cf-light) !important;
    border-bottom: 1px solid #E2E4E6 !important;
}
[data-bs-theme="dark"] .ant-table-cell {
    background: #212529 !important;
    border-bottom: 1px solid #212529 !important;
    border-top: #212529 !important;
    color: #767a80  !important;
}
[data-bs-theme="dark"] .ant-table-column-title {
    color: #aab8c5 !important;
}
[data-bs-theme="dark"] .ant-table {
    border: #030318 !important;
}
[data-bs-theme="dark"] .ant-table-cell.ant-table-column-sort.ant-table-cell-row-hover {
    background: #000000 !important;
    color: #767a80  !important;
}
[data-bs-theme=dark] .ant-table-tbody tr .ant-table-cell.ant-table-column-sort{
    background: #000000 !important;
}
[data-bs-theme="dark"] .ant-table-tbody tr .ant-table-cell.ant-table-column-sort {
    background: #000000 !important;
}

[data-bs-theme="dark"] .table-responsive {
    border-color: #000000 !important;
    background-color: #000000;
    background-clip: padding-box;
    border: #161641;
}
[data-bs-theme="dark"] .ant-table-row.ant-table-row-selected {
    background: #000000 !important;
}
[data-bs-theme="dark"] .ant-table-row-selected .ant-table-cell{
    background: #000000 !important;
}
[data-bs-theme="dark"] .ant-table-cell.ant-table-column-has-sorters::before{
    background-color: #000000 !important;
}
[data-bs-theme="dark"] .ant-table-content{
	border: 1px solid #37394d;
    // border-right: none !important;
}
[data-bs-theme="dark"] .ant-table-wrapper .ant-table-pagination.ant-pagination {
   background: #000000;
}
[data-bs-theme="dark"] .table.table-nowrap tbody tr {
    border: #030318;
}
[data-bs-theme="dark"] .anticon.anticon-caret-up.ant-table-column-sorter-up{
    display: none;
}
[data-bs-theme="dark"] .anticon.anticon-caret-down.ant-table-column-sorter-down{
    display: none;
}
.anticon.anticon-caret-up.ant-table-column-sorter-up{
	color: #788585;
}
.anticon.anticon-caret-down.ant-table-column-sorter-down{
	color: #788585;
}
.ant-tooltip {
	display: none;
}

.table.table-nowrap tbody tr {
    border: #e3e3e3;
}
.table{
    border: none;
}
.ant-table-content{
    // border-right: none !important;
}
.ant-table .ant-table-selection .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #000000;
	border: 0px solid #B9B9C3;
}
.ant-table-tbody>tr.ant-table-row-selected>td {
	background: transparent !important;
}
.ant-table-cell.ant-table-cell-row-hover {
	background: transparent !important;
}
.ant-table-tbody tr .ant-table-cell.ant-table-column-sort{
	background: transparent !important;
}
.ant-table-cell.ant-table-column-sort.ant-table-cell-row-hover{
	background: transparent !important;
}
.ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active{
    width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    background-color: #e41f07;
    border-color: #e41f07;
}
.ant-pagination-item.ant-pagination-item-2.ant-pagination-item-active{
	width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    background-color: #e41f07;
    border-color: #e41f07;
}
.ant-pagination-item.ant-pagination-item-3.ant-pagination-item-active{
	width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    background-color: #e41f07;
    border-color: #e41f07;
}
.ant-pagination-item.ant-pagination-item-2{
	width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #030318;
    font-weight: 400;
    background-color: #fff;
    border:1px solid #E8E8E8;
    border-color: #E8E8E8;
}
.ant-pagination-item.ant-pagination-item-3{
	width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #030318;
    font-weight: 400;
    background-color: #fff;
    border:1px solid #E8E8E8;
    border-color: #E8E8E8;
}
.ant-pagination-item.ant-pagination-item-1{
	width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #030318;
    font-weight: 400;
    background-color: #fff;
    border:1px solid #E8E8E8;
    border-color: #E8E8E8;
}
.ant-pagination li{  
    align-items: center;
}

.ant-pagination-prev.ant-pagination-disabled{
   width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: var(--crms-gray-500);
    font-weight: 400;
     background-color: #fff;
     border:1px solid #E8E8E8;
    border-color: #E8E8E8;
}
.ant-pagination .ant-pagination-prev{
   width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: var(--crms-gray-500);
    font-weight: 400;
     background-color: #fff;
     border:1px solid #E8E8E8;
    border-color: #E8E8E8;
    margin: 0px;
}
.anticon .anticon-left{
    align-items: center;
}
.ant-pagination .ant-pagination-next{
    width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: var(--crms-gray-500);
    font-weight: 400;
    background-color: #fff;
     border:1px solid #E8E8E8;
    border-color: #E8E8E8;
}
.ant-pagination-next.ant-pagination-disabled{
   width: 38px;
    height: 38px;
    box-shadow: var(--crms-box-shadow);
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: var(--crms-gray-500);
    font-weight: 400;
    background-color: #fff;
     border:1px solid #E8E8E8;
    border-color: #E8E8E8;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination{
	margin: 1px 0;
	justify-content: end !important;
}
.ant-picker-suffix span{
    display: none;
}
.ant-picker-dropdown{
    z-index: 1055 !important;
}
.ant-table-wrapper.table.table-nowrap{
    border-right: none !important;
}
.ant-table-wrapper {
    background: #fff;
}
.table-responsive {
    border: 1px solid #e8e8e8;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination {
   background: #fff;
   align-items: center;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ant-pagination .ant-pagination-next .ant-pagination-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ant-table-wrapper .ant-table-pagination{
    gap: 3px
}
.ant-pagination .ant-pagination-item{
    margin-inline-end: 2px;
}
.ant-table-column-sorters .ant-table-column-sorter {
    display: none;
}
.table-responsive {
    border-bottom: none;
}