@use "../variables" as *;
@use "../utils/mixins" as *;

.ant-picker-dropdown{
    z-index: 1056;
}
.otp-input .digit-group input {
    width: 60px !important;
    height: 60px;
    border: 1px solid #e2e8f0;
    font-size: 14px;
    border-radius: 6px !important;
    text-align: center;
    font-weight: 500 !important;
    margin-right: 16px;
}
.vue-select .control .indicators-container .clear-button{
    display: none;
}
[data-bs-theme=dark] {   
    .vue-select .control .indicators-container .dropdown-icon{
        color: #fff;
    } 
    .ant-picker-dropdown {
      background: #030318 !important;
      border-color: #17222C !important;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5) !important;
      
      .ant-picker-panel {
        background: #030318 !important;
        border-color: #17222C !important;
        
        .ant-picker-header {
          background: #030318 !important;
          border-bottom-color: #17222C !important;
          
          .ant-picker-header-view {
            color: #FAFCFF !important;
            
            button {
              color: #FAFCFF !important;
              
              &:hover {
                color: #FF4667 !important;
              }
            }
          }
          
          .ant-picker-header-super-prev-btn,
          .ant-picker-header-super-next-btn,
          .ant-picker-header-prev-btn,
          .ant-picker-header-next-btn {
            color: #FAFCFF !important;
            
            &:hover {
              color: #0d76e1 !important;
            }
          }
        }
        
        .ant-picker-content {
          background: #030318 !important;
          
          .ant-picker-cell {
            color: #FAFCFF !important;
            
            &.ant-picker-cell-in-view {
              color: #FAFCFF !important;
            }
            
            &.ant-picker-cell-today .ant-picker-cell-inner {
              border-color: #0d76e1 !important;
              color: #0d76e1 !important;
            }
            
            &.ant-picker-cell-selected .ant-picker-cell-inner {
              background: #0d76e1 !important;
              color: #FFFFFF !important;
            }
            
            &:hover .ant-picker-cell-inner {
              background: rgba(207, 52, 37, 0.1) !important;
            }
          }
          
          .ant-picker-cell-disabled {
            color: #6B7280 !important;
            
            .ant-picker-cell-inner {
              color: #6B7280 !important;
              background: transparent !important;
            }
          }
        }
        
        .ant-picker-footer {
            background: #030318 !important;
            border-top-color: #17222C !important;
          
            .ant-picker-today-btn {
                color: #0d76e1 !important;
                
                &:hover {
                color: #0d76e1 !important;
                }
            }
        }
      }
    }
    .ant-picker-range {
        background: #121212 !important;
        border-color: #17222C !important;
      
        .ant-picker-input {
            background: #121212 !important;
            
            input {
            background: #121212 !important;
            color: #FAFCFF !important;
            }
        }
        
        .ant-picker-separator {
            color: #FAFCFF !important;
        }
    }
    .ant-picker-panel-container {
        background: #030318 !important;
        border-color: #17222C !important;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5) !important;
    }
    .ant-picker-time-panel {
        background: #030318 !important;
        border-color: #17222C !important;
        
            .ant-picker-time-panel-column {
            background: #030318 !important;
            border-color: #17222C !important;
                
            .ant-picker-time-panel-cell {
                color: #FAFCFF !important;
                
                &.ant-picker-time-panel-cell-selected {
                    background: #0d76e1 !important;
                    color: #FFFFFF !important;
                }
                
                &:hover {
                    background: rgba(207, 52, 37, 0.1) !important;
                }
            }
        }
    }
    .ant-picker .ant-picker-clear {
        background: #000 !important;
    }
    .ant-picker-year-panel,
    .ant-picker-month-panel,
    .ant-picker-decade-panel {
        background: #030318 !important;
        
        .ant-picker-cell {
            color: #FAFCFF !important;
            
            &.ant-picker-cell-selected .ant-picker-cell-inner {
            background: #0d76e1 !important;
            color: #FFFFFF !important;
            }
            
            &:hover .ant-picker-cell-inner {
            background: rgba(207, 52, 37, 0.1) !important;
            }
        }
    }
    .ant-table-wrapper .ant-table-content .ant-table-thead th.ant-table-column-has-sorters {
        border-start-start-radius: 0 !important;
    }
    .ant-table-wrapper .ant-table-content .ant-table-thead tr th {
        border-start-end-radius: 0 !important;
    }
    .ant-picker .ant-picker-input input {
        color: #FFFFFF;
    }
}
[data-bs-theme=dark] {
    .ant-picker:hover{
        border-color: #17222C;
        .ant-picker-focused{
            border-color: #030318;
        }
    }
    .vue-select {
        .control {
            border: 1px solid #17222C;
            background-color: #01060b;
            .single-value {
                color: #FAFCFF;
            }
        }        
        &.open .menu {
            background-color: #030318;
            border: 1px solid #17222C;
        }
    }
    .vue-select.open {
        .menu {
            .menu-option {
                color: #FAFCFF;
                background-color: #01060b;
                &:hover{
                    background-color: #0d76e1 !important;
                } &.focused {
                    background-color: #000 !important;
                }
            }
        }
    }
    .vue-select.open .menu .menu-option {
        &.selected {
            background-color: #0d76e1;
            color: #FFFFFF;
        }
    }
    .vue-tel-input{
        border: 1px solid #17222C !important;
    }
    .ql-toolbar.ql-snow{
        border: 1px solid #17222C !important;
    }
    .ql-container.ql-snow{
        border: 1px solid #17222C !important;
    }
}
[data-bs-theme=dark] .vue-select.open .menu .menu-option.selected{
    background-color: #0d76e1;
    color: #FFFFFF;
}
[data-bs-theme=dark] .vti__input{
    background-color: #030318;
}
.menu-option.selected {
    background-color: #0d76e1;
}
.nav-tabs-solid.category-tab{
    overflow: auto;
    overflow-x: hidden;
}
[data-bs-theme=dark] .accordion-item{
    border-color: #272828;
}

.input-icon-addon.addon-search {
   position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-400;
    pointer-events: none;
    font-size: 14px;
    padding: 0 12px 0 12px;
}
.input-icon-start .form-control.search-addon{
    padding-right: 32px !important;
    padding-left: 5px !important;
}

.input-item .vue-select .control {
   height: 30px
}
.input-item .vue-select .control .value-container .single-value{
    margin-bottom: 15px;
}
.pos-wrapper .page-wrapper .pos-right .input-item {
    border: none !important;
}
[data-bs-theme=dark] .daterangepicker{
    background-color: #01060b;
    border: 1px solid #272828;
}
[data-bs-theme=dark] .daterangepicker .ranges li:hover{
    background-color: #1f1f1f;
}
[data-bs-theme=dark] .daterangepicker .drp-calendar.left .calendar-table {
    background-color: #01060b;
    border: 1px solid #272828;
}
[data-bs-theme=dark] .daterangepicker .drp-calendar.right .calendar-table {
    background-color: #01060b;
    border: 1px solid #272828;
}
[data-bs-theme=dark] .daterangepicker td.in-range {
    background-color: #1f1f1f;
}
[data-bs-theme=dark] .daterangepicker td.off.in-range {
    background-color: #01060b;
}
[data-bs-theme=dark] .daterangepicker td.off {
    background-color: #01060b;
}
[data-bs-theme=dark] .daterangepicker td.off.in-range {
    background-color: #01060b;
}
[data-bs-theme=dark] .daterangepicker .drp-buttons {
    border: 1px solid #272828;
}