{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Kanban View{% endblock %}
{% block content %}

    <!-- ========================
        Start Page Content
    ========================= -->
        
    <div class="page-wrapper">

        <!-- Start Content -->
        <div class="content">

            <!-- Page Header -->
            <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-3 mb-4">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Orders <a href="#" class="btn btn-icon btn-sm btn-white rounded-circle ms-2"><i class="icon-refresh-ccw"></i></a></h3>
                </div>
                <div class="gap-2 d-flex align-items-center flex-wrap">
                    <div class="daterangepick custom-date form-control w-auto d-flex align-items-center justify-content-between">
                        <i class="icon-calendar-fold text-dark fs-14 me-2"></i>
                        <span class="reportrange-picker"></span> 
                    </div>
                    <a href="pos" class="btn btn-primary d-inline-flex align-items-center"><i class="icon-circle-plus me-1"></i>Add New</a>
                </div>
            </div>
            <!-- End Page Header -->

            <!-- Start row -->
            <div class="row gx-3">
                <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div>
                                    <span class="fs-13 fw-medium mb-1 d-block">Confirmed</span>
                                    <h4 class="mb-0">98</h4>         
                                </div>
                                <div class="avatar bg-soft-secondary fs-20 rounded-circle flex-shrink-0">
                                    <i class="icon-bookmark-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div>
                                    <span class="fs-13 fw-medium mb-1 d-block">Pending</span>
                                    <h4 class="mb-0">32</h4>         
                                </div>
                                <div class="avatar bg-soft-primary fs-20 rounded-circle flex-shrink-0">
                                    <i class="icon-circle-arrow-out-down-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div>
                                    <span class="fs-13 fw-medium mb-1 d-block">Processing</span>
                                    <h4 class="mb-0">66</h4>         
                                </div>
                                <div class="avatar bg-soft-orange fs-20 rounded-circle flex-shrink-0">
                                    <i class="icon-loader"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div>
                                    <span class="fs-13 fw-medium mb-1 d-block">Out For Delivery</span>
                                    <h4 class="mb-0">45</h4>         
                                </div>
                                <div class="avatar bg-soft-purple fs-20 rounded-circle flex-shrink-0">
                                    <i class="icon-bike"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div>
                                    <span class="fs-13 fw-medium mb-1 d-block">Delivered</span>
                                    <h4 class="mb-0">69</h4>         
                                </div>
                                <div class="avatar badge-soft-success fs-20 rounded-circle flex-shrink-0">
                                    <i class="icon-send"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xxl-2 col-lg-4 col-md-4 col-sm-6">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div>
                                    <span class="fs-13 fw-medium mb-1 d-block">Cancelled</span>
                                    <h4 class="mb-0">18</h4>         
                                </div>
                                <div class="avatar bg-soft-danger fs-20 rounded-circle flex-shrink-0">
                                    <i class="icon-user-x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- End row -->

            <!-- Start Tabs -->
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 pb-4 mb-4 border-bottom">
                <h5 class="mb-0">Orders</h5>
            
                <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                    <div class="active-item d-flex align-items-center justify-content-between gap-1 p-1 border rounded bg-white">
                        <a href="orders" class="btn btn-sm btn-icon" aria-label="grid"><i class="icon-grid-2x2"></i></a>
                        <a href="kanban-view" class="btn btn-sm btn-icon btn-primary" aria-label="kanban"><i class="icon-square-kanban"></i></a>
                    </div>
                    <div class="input-group input-group-flat w-auto">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-text">
                            <i class="icon-search text-dark"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- End Tabs -->

            <!-- Kanban Card drag Item -->
            <div class="d-flex gap-3 align-items-start overflow-auto project-status" data-plugin="dragula" data-containers='["drag-one", "drag-two", "drag-three","drag-four"]'>
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="top-item d-flex align-items-center justify-content-between bg-gray rounded py-3 px-3 mb-4">
                            <span class="mb-0 d-flex align-items-center gap-2 text-white fw-semibold"> <i class="icon-newspaper"></i> New Orders </span> <span class="text-white">03</span>
                        </div>

                        <div class="kanban-drag" id="drag-one">
                            <div class="card flex-fill kanban-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                            <div class="avatar avatar-lg bg-primary rounded-circle">
                                                <i class="icon-shopping-bag"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-14 fw-semibold"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#view_details">#56998</a></h6>
                                                <p class="mb-0 d-flex align-items-center gap-2">Dine In <span class="text-light">|</span> Table No : 3</p>
                                            </div>
                                        </div>
                                        <div class="dropstart">
                                            <button class="btn btn-sm btn-icon btn-white rounded-circle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Actions">
                                                <i class="icon-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu p-3">
                                                <li>
                                                    <a href="pos" class="dropdown-item rounded d-flex align-items-center"><i class="icon-pencil-line me-2"></i>Edit Order</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item rounded d-flex align-items-center"><i class="icon-check-check me-2"></i>CompIete</a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="icon-x me-2"></i>Cancel</a>
                                                </li>                                      
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#pay_complete_order"><i class="icon-pointer me-2"></i>Pay & CompIete</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#print_reciept"><i class="icon-printer me-2"></i>Print Receipt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <p class="mb-0 fs-14 fw-semibold text-dark"><span class="fw-normal">Token No :</span> 24</p>
                                        <h6 class="mb-0 fw-semibold d-flex align-items-center gap-1"><i class="icon-clock fs-14"></i> 06:24 PM</h6>
                                    </div>
                                    <div class="mb-3 pb-3 border-bottom">
                                        <div class="orders-list">
                                            <div class="orders text-dark mb-3">
                                                <p><span class="dot"></span>Grilled Chicken </p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="orders text-dark mb-2">
                                                <p><span class="dot"></span>Chicken Taco - Medium</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="bg-light rounded py-1 px-2 mb-3">
                                                <p class="mb-0 fw-medium d-flex align-items-center text-dark"> <i class="icon-badge-info me-1"></i> Notes : Extra Spicy</p>
                                            </div>
                                            <div class="orders text-dark">
                                                <p><span class="dot"></span>Lobster Thermidor</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between flex-nowrap gap-3">
                                        <a href="#" class="btn btn-outline-light w-100"> Cancel</a>
                                        <a href="#" class="btn btn-light w-100"> Start</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card flex-fill kanban-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                            <div class="avatar avatar-lg bg-primary rounded-circle">
                                                <i class="icon-shopping-bag"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-14 fw-semibold"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#view_details">#57001</a></h6>
                                                <p class="mb-0 d-flex align-items-center gap-2">Take Away</p>
                                            </div>
                                        </div>
                                        <div class="dropstart">
                                            <button class="btn btn-sm btn-icon btn-white rounded-circle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Actions">
                                                <i class="icon-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu p-3">
                                                <li>
                                                    <a href="pos" class="dropdown-item rounded d-flex align-items-center"><i class="icon-pencil-line me-2"></i>Edit Order</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item rounded d-flex align-items-center"><i class="icon-check-check me-2"></i>CompIete</a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="icon-x me-2"></i>Cancel</a>
                                                </li>                                      
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#pay_complete_order"><i class="icon-pointer me-2"></i>Pay & CompIete</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#print_reciept"><i class="icon-printer me-2"></i>Print Receipt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <p class="mb-0 fs-14 fw-semibold text-dark"><span class="fw-normal">Token No :</span> 25</p>
                                        <h6 class="mb-0 fw-semibold d-flex align-items-center gap-1"><i class="icon-clock fs-14"></i> 06:55 PM</h6>
                                    </div>
                                    <div class="mb-3 pb-3 border-bottom">
                                        <div class="orders-list">
                                            <div class="orders text-dark mb-3">
                                                <p><span class="dot success"></span>Vegan Burger </p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="orders text-dark mb-2">
                                                <p><span class="dot success"></span>Sweet Potato Fries</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="bg-light rounded py-1 px-2 mb-3">
                                                <p class="mb-0 fw-medium d-flex align-items-center text-dark"> <i class="icon-badge-info me-1"></i> Notes : Extra Spicy</p>
                                            </div>
                                            <div class="orders text-dark">
                                                <p><span class="dot success"></span>Chocolate Lava Cake</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between flex-nowrap gap-3">
                                        <a href="#" class="btn btn-outline-light w-100"> Cancel</a>
                                        <a href="#" class="btn btn-light w-100"> Start</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card flex-fill kanban-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                            <div class="avatar avatar-lg bg-primary rounded-circle">
                                                <i class="icon-shopping-bag"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-14 fw-semibold"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#view_details">#57002</a></h6>
                                                <p class="mb-0 d-flex align-items-center gap-2">Delivery</p>
                                            </div>
                                        </div>
                                        <div class="dropstart">
                                            <button class="btn btn-sm btn-icon btn-white rounded-circle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Actions">
                                                <i class="icon-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu p-3">
                                                <li>
                                                    <a href="pos" class="dropdown-item rounded d-flex align-items-center"><i class="icon-pencil-line me-2"></i>Edit Order</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item rounded d-flex align-items-center"><i class="icon-check-check me-2"></i>CompIete</a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="icon-x me-2"></i>Cancel</a>
                                                </li>                                      
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#pay_complete_order"><i class="icon-pointer me-2"></i>Pay & CompIete</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#print_reciept"><i class="icon-printer me-2"></i>Print Receipt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <p class="mb-0 fs-14 fw-semibold text-dark"><span class="fw-normal">Token No :</span> 26</p>
                                        <h6 class="mb-0 fw-semibold d-flex align-items-center gap-1"><i class="icon-clock fs-14"></i> 07:00 PM</h6>
                                    </div>
                                    <div class="mb-3 pb-3 border-bottom">
                                        <div class="orders-list">
                                            <div class="orders text-dark mb-3">
                                                <p><span class="dot success"></span>Margherita Pizza </p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="orders text-dark mb-2">
                                                <p><span class="dot success"></span>Pasta Primavera</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="bg-light rounded py-1 px-2 mb-3">
                                                <p class="mb-0 fw-medium d-flex align-items-center text-dark"> <i class="icon-badge-info me-1"></i> Notes : Extra Spicy</p>
                                            </div>
                                            <div class="orders text-dark">
                                                <p><span class="dot success"></span>Grilled Salmon Steak</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between flex-nowrap gap-3">
                                        <a href="#" class="btn btn-outline-light w-100"> Cancel</a>
                                        <a href="#" class="btn btn-light w-100"> Start</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-0">
                    <div class="card-body">
                        <div class="top-item d-flex align-items-center justify-content-between bg-secondary rounded py-3 px-3 mb-4">
                            <span class="mb-0 d-flex align-items-center gap-2 text-white fw-semibold"> <i class="icon-package-2"></i> Processing </span> <span class="text-white">02</span>
                        </div>

                        <div class="kanban-drag" id="drag-two">

                            <div class="card flex-fill kanban-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                            <div class="avatar avatar-lg bg-primary rounded-circle">
                                                <i class="icon-shopping-bag"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-14 fw-semibold"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#view_details">#57001</a></h6>
                                                <p class="mb-0 d-flex align-items-center gap-2">Take Away</p>
                                            </div>
                                        </div>
                                        <div class="dropstart">
                                            <button class="btn btn-sm btn-icon btn-white rounded-circle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Actions">
                                                <i class="icon-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu p-3">
                                                <li>
                                                    <a href="pos" class="dropdown-item rounded d-flex align-items-center"><i class="icon-pencil-line me-2"></i>Edit Order</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item rounded d-flex align-items-center"><i class="icon-check-check me-2"></i>CompIete</a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="icon-x me-2"></i>Cancel</a>
                                                </li>                                      
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#pay_complete_order"><i class="icon-pointer me-2"></i>Pay & CompIete</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#print_reciept"><i class="icon-printer me-2"></i>Print Receipt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <p class="mb-0 fs-14 fw-semibold text-dark"><span class="fw-normal">Token No :</span> 25</p>
                                        <h6 class="mb-0 fw-semibold d-flex align-items-center gap-1"><i class="icon-clock fs-14"></i> 06:55 PM</h6>
                                    </div>
                                    <div class="mb-3 pb-3 border-bottom">
                                        <div class="orders-list">
                                            <div class="orders text-dark mb-3">
                                                <p><span class="dot success"></span>Vegan Burger </p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="orders text-dark mb-2">
                                                <p><span class="dot success"></span>Sweet Potato Fries</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="bg-light rounded py-1 px-2 mb-3">
                                                <p class="mb-0 fw-medium d-flex align-items-center text-dark"> <i class="icon-badge-info me-1"></i> Notes : Extra Spicy</p>
                                            </div>
                                            <div class="orders text-dark">
                                                <p><span class="dot success"></span>Chocolate Lava Cake</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between flex-nowrap gap-3">
                                        <a href="#" class="btn btn-outline-light w-100"> Cancel</a>
                                        <a href="#" class="btn btn-light w-100"> Mark Done</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card flex-fill kanban-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                            <div class="avatar avatar-lg bg-primary rounded-circle">
                                                <i class="icon-shopping-bag"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-14 fw-semibold"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#view_details">#57002</a></h6>
                                                <p class="mb-0 d-flex align-items-center gap-2">Delivery</p>
                                            </div>
                                        </div>
                                        <div class="dropstart">
                                            <button class="btn btn-sm btn-icon btn-white rounded-circle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Actions">
                                                <i class="icon-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu p-3">
                                                <li>
                                                    <a href="pos" class="dropdown-item rounded d-flex align-items-center"><i class="icon-pencil-line me-2"></i>Edit Order</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item rounded d-flex align-items-center"><i class="icon-check-check me-2"></i>CompIete</a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="icon-x me-2"></i>Cancel</a>
                                                </li>                                      
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#pay_complete_order"><i class="icon-pointer me-2"></i>Pay & CompIete</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#print_reciept"><i class="icon-printer me-2"></i>Print Receipt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <p class="mb-0 fs-14 fw-semibold text-dark"><span class="fw-normal">Token No :</span> 26</p>
                                        <h6 class="mb-0 fw-semibold d-flex align-items-center gap-1"><i class="icon-clock fs-14"></i> 07:00 PM</h6>
                                    </div>
                                    <div class="mb-3 pb-3 border-bottom">
                                        <div class="orders-list">
                                            <div class="orders text-dark mb-3">
                                                <p><span class="dot success"></span>Margherita Pizza </p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="orders text-dark mb-2">
                                                <p><span class="dot success"></span>Pasta Primavera</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="bg-light rounded py-1 px-2 mb-3">
                                                <p class="mb-0 fw-medium d-flex align-items-center text-dark"> <i class="icon-badge-info me-1"></i> Notes : Extra Spicy</p>
                                            </div>
                                            <div class="orders text-dark">
                                                <p><span class="dot success"></span>Grilled Salmon Steak</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between flex-nowrap gap-3">
                                        <a href="#" class="btn btn-outline-light w-100"> Cancel</a>
                                        <a href="#" class="btn btn-light w-100"> Mark Done</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-0">
                    <div class="card-body">
                        <div class="top-item d-flex align-items-center justify-content-between bg-success rounded py-3 px-3 mb-4">
                            <span class="mb-0 d-flex align-items-center gap-2 text-white fw-semibold"> <i class="icon-check-check"></i> Completed </span> <span class="text-white">01</span>
                        </div>

                        <div class="kanban-drag" id="drag-three">
                            <div class="card flex-fill kanban-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                            <div class="avatar avatar-lg bg-primary rounded-circle">
                                                <i class="icon-shopping-bag"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-14 fw-semibold"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#view_details">#57002</a></h6>
                                                <p class="mb-0 d-flex align-items-center gap-2">Delivery</p>
                                            </div>
                                        </div>
                                        <div class="dropstart">
                                            <button class="btn btn-sm btn-icon btn-white rounded-circle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Actions">
                                                <i class="icon-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu p-3">
                                                <li>
                                                    <a href="pos" class="dropdown-item rounded d-flex align-items-center"><i class="icon-pencil-line me-2"></i>Edit Order</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item rounded d-flex align-items-center"><i class="icon-check-check me-2"></i>CompIete</a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="icon-x me-2"></i>Cancel</a>
                                                </li>                                      
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#pay_complete_order"><i class="icon-pointer me-2"></i>Pay & CompIete</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#print_reciept"><i class="icon-printer me-2"></i>Print Receipt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <p class="mb-0 fs-14 fw-semibold text-dark"><span class="fw-normal">Token No :</span> 26</p>
                                        <h6 class="mb-0 fw-semibold d-flex align-items-center gap-1"><i class="icon-clock fs-14"></i> 07:00 PM</h6>
                                    </div>
                                    <div class="mb-3 pb-3 border-bottom">
                                        <div class="orders-list">
                                            <div class="orders text-dark mb-3">
                                                <p><span class="dot success"></span>Margherita Pizza </p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="orders text-dark mb-2">
                                                <p><span class="dot success"></span>Pasta Primavera</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="bg-light rounded py-1 px-2 mb-3">
                                                <p class="mb-0 fw-medium d-flex align-items-center text-dark"> <i class="icon-badge-info me-1"></i> Notes : Extra Spicy</p>
                                            </div>
                                            <div class="orders text-dark">
                                                <p><span class="dot success"></span>Grilled Salmon Steak</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between flex-nowrap gap-3">
                                        <a href="#" class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#print_reciept"> Print Reciept</a>
                                        <a href="#" class="btn btn-light w-100"> CompIete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card mb-0">
                    <div class="card-body">
                        <div class="top-item d-flex align-items-center justify-content-between bg-danger rounded py-3 px-3 mb-4">
                            <span class="mb-0 d-flex align-items-center gap-2 text-white fw-semibold"> <i class="icon-x"></i> Cancelled </span> <span class="text-white">01</span>
                        </div>

                        <div class="kanban-drag" id="drag-four">
                            <div class="card flex-fill kanban-card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 mb-3">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
                                            <div class="avatar avatar-lg bg-primary rounded-circle">
                                                <i class="icon-shopping-bag"></i>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 fs-14 fw-semibold"><a href="#" data-bs-toggle="offcanvas" data-bs-target="#view_details">#57002</a></h6>
                                                <p class="mb-0 d-flex align-items-center gap-2">Delivery</p>
                                            </div>
                                        </div>
                                        <div class="dropstart">
                                            <button class="btn btn-sm btn-icon btn-white rounded-circle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Actions">
                                                <i class="icon-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu p-3">
                                                <li>
                                                    <a href="pos" class="dropdown-item rounded d-flex align-items-center"><i class="icon-pencil-line me-2"></i>Edit Order</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item rounded d-flex align-items-center"><i class="icon-check-check me-2"></i>CompIete</a>
                                                </li>  
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="icon-x me-2"></i>Cancel</a>
                                                </li>                                      
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#pay_complete_order"><i class="icon-pointer me-2"></i>Pay & CompIete</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#print_reciept"><i class="icon-printer me-2"></i>Print Receipt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <p class="mb-0 fs-14 fw-semibold text-dark"><span class="fw-normal">Token No :</span> 26</p>
                                        <h6 class="mb-0 fw-semibold d-flex align-items-center gap-1"><i class="icon-clock fs-14"></i> 07:00 PM</h6>
                                    </div>
                                    <div class="mb-3 pb-3 border-bottom">
                                        <div class="orders-list">
                                            <div class="orders text-dark mb-3">
                                                <p><span class="dot success"></span>Margherita Pizza </p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="orders text-dark mb-2">
                                                <p><span class="dot success"></span>Pasta Primavera</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                            <div class="bg-light rounded py-1 px-2 mb-3">
                                                <p class="mb-0 fw-medium d-flex align-items-center text-dark"> <i class="icon-badge-info me-1"></i> Notes : Extra Spicy</p>
                                            </div>
                                            <div class="orders text-dark">
                                                <p><span class="dot success"></span>Grilled Salmon Steak</p>
                                                <span class="line"></span>
                                                <p class="text-dark">×1</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between flex-nowrap gap-3">
                                        <a href="#" class="btn btn-outline-light w-100" data-bs-toggle="modal" data-bs-target="#delete_modal"> Remove</a>
                                        <a href="#" class="btn btn-light w-100"> Reorder</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Kanban Card drag Item -->

                            
        </div>
        <!-- End Content -->  

    </div>

    <!-- ========================
        End Page Content
    ========================= -->

{% endblock %}