{% extends 'layouts/base.html' %}

{% block content %}

    <!-- ========================
        Start Page Content
    ========================= -->

    <div class="page-wrapper">

        <!-- Start Content -->
        <div class="content">

            <!-- Page Header -->
            <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-3 mb-4">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Reports <a href="#" class="btn btn-icon btn-sm btn-white rounded-circle ms-2"><i class="icon-refresh-ccw"></i></a></h3>
                </div>
                <div class="gap-2 d-flex align-items-center flex-wrap">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                            <i class="icon-upload me-1"></i>Export
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end p-3">
                            <li>
                                <a href="#" class="dropdown-item rounded">Export as PDF</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item rounded">Export as Excel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Page Header -->

            <!-- Tabs -->
            <ul class="nav nav-tabs nav-bordered nav-bordered-primary mb-4" role="tablist">
                <li class="nav-item">
                    <a href="{{url_for('earning-report')}}" class="nav-link d-flex align-items-center"><i class="icon-badge-dollar-sign me-2"></i>Earning Report</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('order-report')}}" class="nav-link d-flex align-items-center"><i class="icon-list-todo me-2"></i>Order Report</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('sales-report')}}" class="nav-link d-flex align-items-center active"><i class="icon-shopping-bag me-2"></i>Sales Report</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('customer-report')}}" class="nav-link d-flex align-items-center"><i class="icon-users me-2"></i>Customer Report</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('audit-report')}}" class="nav-link d-flex align-items-center"><i class="icon-hourglass me-2"></i>Audit Logs</a>
                </li>
            </ul>
            <!-- Tabs -->

            <!-- card start -->
            <div class="card mb-0">
                <div class="card-body">


                    <div class="border-bottom sales-report-filter-wrap">
                        <div class="report-filter">
                            <div class="mb-3">
                                <label class="form-label">Start Date<span class="text-danger ms-1">*</span></label>
                                <div class="input-group w-auto input-group-flat">
                                    <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d/m/Y" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text">
                                        <i class="icon-calendar-fold"></i>
                                    </span>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="report-filter">
                            <div class="mb-3">
                                <label class="form-label">End Date<span class="text-danger ms-1">*</span></label>
                                <div class="input-group w-auto input-group-flat">
                                    <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d/m/Y" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text">
                                        <i class="icon-calendar-fold"></i>
                                    </span>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="report-filter">
                            <div class="mb-3">
                                <label class="form-label">Category <span class="text-danger ms-1">*</span></label>
                                <div class="dropdown">
                                    <a href="#" class="dropdown-toggle btn btn-white d-flex align-items-center justify-content-between" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                        Select
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end p-3 w-100">
                                        <h6 class="fs-14 fw-semibold mb-3">Category </h6>
                                        <div class="input-icon-end input-icon position-relative mb-3">
                                            <span class="input-icon-addon">
                                                <i class="icon-search text-dark"></i>
                                            </span>
                                            <input type="text" class="form-control form-control-md" placeholder="Search">
                                        </div>
                                        <div class="vstack gap-2">
                                            <div>
                                                <label class="d-flex align-items-center">
                                                    <input class="form-check-input m-0 me-2" type="checkbox">Sea Food
                                                </label>
                                            </div>
                                            <div>
                                                <label class="d-flex align-items-center">
                                                    <input class="form-check-input m-0 me-2" type="checkbox">Pizza
                                                </label>
                                            </div>
                                            <div>
                                                <label class="d-flex align-items-center">
                                                    <input class="form-check-input m-0 me-2" type="checkbox">Salads
                                                </label>
                                            </div>
                                            <div>
                                                <label class="d-flex align-items-center">
                                                    <input class="form-check-input m-0 me-2" type="checkbox">Tacos
                                                </label>
                                            </div>
                                            <div>
                                                <label class="d-flex align-items-center">
                                                    <input class="form-check-input m-0 me-2" type="checkbox">Burgers
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="report-filter">
                            <div class="mb-3">
                                <a href="#" class="btn btn-primary d-inline-flex align-items-center">Submit</a>
                            </div>
                        </div> <!-- end col -->
                    </div>

                    <div class="d-flex align-items-center flex-wrap gap-3 justify-content-between mb-4">

                        <div class="search-input">
                            <span class="btn-searchset"><i class="icon-search fs-14"></i></span>
                        </div>

                        <div class="d-flex align-items-center gap-2 flex-wrap">

                            <!-- sort by -->
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                    Sort by : Newest
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end p-3">
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">Newest</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">Ascending</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">Descending</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- table start -->
                    <div class="table-responsive table-nowrap">
                        <table class="table mb-0 border datatable">
                            <thead>
                                <tr>
                                    <th>Sales ID</th>
                                    <th>Date</th>
                                    <th>Category </th>
                                    <th>Items Sold</th>
                                    <th>Total Orders</th>
                                    <th>Grand Total</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#SA0016</td>
                                    <td>01 Nov 2025</td>
                                    <td>Sea Food</td>
                                    <td>28</td>
                                    <td>32</td>
                                    <td>$1000</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0015</td>
                                    <td>01 Nov 2025</td>
                                    <td>Pizza</td>
                                    <td>42</td>
                                    <td>45</td>
                                    <td>$1500</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0014</td>
                                    <td>01 Nov 2025</td>
                                    <td>Salads</td>
                                    <td>66</td>
                                    <td>70</td>
                                    <td>$1200</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0013</td>
                                    <td>01 Nov 2025</td>
                                    <td>Tacos</td>
                                    <td>48</td>
                                    <td>53</td>
                                    <td>$800</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0012</td>
                                    <td>01 Nov 2025</td>
                                    <td>Burgers</td>
                                    <td>24</td>
                                    <td>34</td>
                                    <td>$750</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0010</td>
                                    <td>01 Nov 2025</td>
                                    <td>Ice Cream</td>
                                    <td>36</td>
                                    <td>40</td>
                                    <td>$1300</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0009</td>
                                    <td>31 Oct 2025</td>
                                    <td>Pasta</td>
                                    <td>48</td>
                                    <td>55</td>
                                    <td>$1100</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0008</td>
                                    <td>31 Oct 2025</td>
                                    <td>Beverages</td>
                                    <td>32</td>
                                    <td>35</td>
                                    <td>$600</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0007</td>
                                    <td>31 Oct 2025</td>
                                    <td>Steaks</td>
                                    <td>22</td>
                                    <td>27</td>
                                    <td>$1300</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#SA0006</td>
                                    <td>31 Oct 2025</td>
                                    <td>Soups</td>
                                    <td>18</td>
                                    <td>22</td>
                                    <td>$800</td>
                                    <td>
                                        <span class="badge badge-soft-success">Completed</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- table end -->
                </div>

            </div>
            <!-- card start -->

        </div>
        <!-- End Content -->

    </div>

    <!-- ========================
        End Page Content
    ========================= -->

{% endblock %}
