{% if page == 'layout-horizontal' %}
    <html lang="en" data-layout="horizontal">
{% elif page == 'layout-detached' %}
    <html lang="en" data-layout="detached">
{% elif page == 'layout-modern' %}
    <html lang="en" data-layout="modern">
{% elif page == 'layout-two-column' %}
    <html lang="en" data-layout="twocolumn">
{% elif page == 'layout-hovered' %}
    <html lang="en" data-layout="layout-hovered">
{% elif page == 'layout-boxed' %}
    <html lang="en" data-layout="default" data-width="box">
{% elif page == 'layout-rtl' %}
    <html lang="en" data-layout-mode="light_mode">
{% elif page == 'layout-dark' %}
    <html lang="en" data-theme="dark">
{% else %}
    <html lang="en">
{% endif %}
