<html>
  <body>
    <div th:fragment="footer-script" th:remove="tag">

      <!-- jQuery -->
      <script th:src="@{/js/jquery-3.7.1.min.js}"></script>

      <!-- Feather Icon JS -->
      <script th:src="@{/js/feather.min.js}"></script>

      <!-- Slimscroll JS -->
      <script th:src="@{/js/jquery.slimscroll.min.js}"></script>

      <!-- Bootstrap Core JS -->
      <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

      <!-- ApexChart JS -->
      <script th:src="@{/plugins/apexchart/apexcharts.min.js}"></script>
      <script th:src="@{/plugins/apexchart/chart-data.js}"></script>

      <!-- Chart JS -->
      <script th:src="@{/plugins/chartjs/chart.min.js}"></script>
      <script th:src="@{/plugins/chartjs/chart-data.js}"></script>

      <!-- LightBox JS -->
      <script th:src="@{/plugins/lightbox/glightbox.min.js}"></script>
      <script th:src="@{/plugins/lightbox/lightbox.js}"></script>

      <!-- Daterangepikcer JS -->
      <script th:src="@{/js/moment.min.js}"></script>
      <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

      <!-- Rangeslider JS -->
      <script th:src="@{/plugins/ion-rangeslider/js/ion.rangeSlider.min.js}"></script>
      <script th:src="@{/plugins/ion-rangeslider/js/custom-rangeslider.js}"></script>

      <!-- Select2 JS -->
      <script th:src="@{/plugins/select2/js/select2.min.js}"></script>
	    <script th:src="@{/js/custom-select2.js}"></script>

      <!-- Dropzone File Js -->
				<script th:src="@{/plugins/dropzone/dropzone-min.js}"></script>
				<!-- File Upload js -->
				<script th:src="@{/js/form-fileupload.js}"></script>

        	<!-- Wizrd JS -->
		<script th:src="@{/plugins/vanilla-wizard/js/wizard.min.js}"></script>

		<!-- Wizard JS -->
		<script th:if="${activepage == 'form-wizard' }" th:src="@{/js/form-wizard.js}"></script>

      <!-- Color Picker JS -->
      <script th:src="@{/plugins/@simonwep/pickr/pickr.es5.min.js}"></script>

      <!-- Datetimepicker JS -->
      <script th:src="@{/js/moment.min.js}"></script>
      <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>

      <!-- Daterangepikcer JS -->
		  <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

      <!-- Bootstrap Core JS -->
      <script th:src="@{/plugins/sweetalert/sweetalert2.all.min.js}"></script>
      <script th:src="@{/plugins/sweetalert/sweetalerts.min.js}"></script>

      <!-- Stickynote JS -->
      <script th:src="@{/js/jquery-ui.min.js}"></script>
      <script th:src="@{/plugins/stickynote/sticky.js}"></script>

      <!-- Scrollbar JS -->
      <script th:src="@{/plugins/scrollbar/scrollbar.min.js}"></script>
      <script th:src="@{/plugins/scrollbar/custom-scroll.js}"></script>


      <!-- Dragula JS -->
      <script th:src="@{/plugins/dragula/js/dragula.min.js}"></script>
      <script th:src="@{/plugins/dragula/js/drag-drop.min.js}"></script>
      <script th:src="@{/plugins/dragula/js/draggable-cards.js}"></script>

      <!-- Quill JS -->
      <script th:src="@{/plugins/quill/quill.min.js}"></script>

      <!-- counter JS -->
      <script th:src="@{/plugins/countup/jquery.counterup.min.js}"></script>
      <script th:src="@{/plugins/countup/jquery.waypoints.min.js}"></script>
      <script th:src="@{/plugins/countup/jquery.missofis-countdown.js}"></script>

      <!-- Mask JS -->
      <script th:src="@{/js/jquery.maskedinput.min.js}"></script>
      <script th:src="@{/js/mask.js}"></script>

      <!-- Rater JS -->
      <script th:src="@{/plugins/rater-js/index.js}"></script>

      <!-- Chart c3 -->
      <script th:src="@{/plugins/c3-chart/d3.v5.min.js}"></script>
      <script th:src="@{/plugins/c3-chart/c3.min.js}"></script>
      <script th:src="@{/plugins/c3-chart/chart-data.js}"></script>

	    <!-- Chart JS -->
	    <script th:src="@{/plugins/peity/jquery.peity.min.js}"></script>
	    <script th:src="@{/plugins/peity/chart-data.js}"></script>

      <!-- Wizard JS -->
      <script th:src="@{/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js}"></script>
      <script th:src="@{/plugins/twitter-bootstrap-wizard/prettify.js}"></script>
      <script th:src="@{/plugins/twitter-bootstrap-wizard/form-wizard.js}"></script>


      <!-- Datatable JS -->
      <script th:src="@{/js/jquery.dataTables.min.js}"></script>
      <script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>


      <!-- Clipboard JS -->
      <script th:src="@{/plugins/clipboard/clipboard.min.js}"></script>

      <!-- Custom JS -->
      <script th:src="@{/js/theme-colorpicker.js}"></script>
      <script th:src="@{/js/script.js}"></script>
      
    </div>
  </body>
</html>
