@use "../variables" as *;
@use "../utils/mixins" as *;

.page-search{
    position: relative;
    input{
    padding:8px 18px 8px 12px;
    }
    i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
        border: 0;
        line-height: 0;
    }
}
.pagination-nav{
    .page-item{
        margin-right: 8px;
        a{
            border-radius: 6px;
            font-weight: $font-weight-medium;
        }
    }
}
.size-tabs{
    .size-tab{
        padding: 6px 12px;
        border-radius: 6px;
        border: 1px solid $border-color;
    }
}
.items-card{
        padding: 12px;
        border-radius: 12px;
        border: 1px solid $border-color;

}
.card {
    &:hover {
        .food-items-menu{
            opacity: 1;
        }
    }
}
.food-items{
    position: relative;
    .food-items-menu{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        border-radius: 36px;
        padding: 8px;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .food-items-menu.show{
        opacity: 1;
    }
}
.accordion-header .accordion-button:not(.collapsed){
    background: transparent;
}
.accordion-header{
    cursor: pointer;
}
.active-item {
    height: 38px;
    .btn-icon.btn-sm {
        height: 30px;
        width: 30px;
        padding: 0;
    }
}

.tables-img {
    padding: 12px;
    a {
        display: block;
        text-align: center;
        img {
            height: 66px;
        }
    }
}
.gu-transit {
    opacity: 1;
    background-color: $light !important; 
    cursor: grabbing; 
}