<!DOCTYPE html>
<html lang="en" data-layout-mode="light_mode">

<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Dreams POS is a powerful Bootstrap based Inventory Management Admin Template designed for businesses, offering seamless invoicing, project tracking, and estimates.">
	<meta name="keywords" content="inventory management, admin dashboard, bootstrap template, invoicing, estimates, business management, responsive admin, POS system">
	<meta name="author" content="Dreams Technologies">
	<meta name="robots" content="index, follow">
	<title>Error 500 | Dreams POS - Inventory Management & Admin Dashboard Template</title>

	<!-- <script src="assets/js/theme-script.js"></script> -->

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">

	<!-- animation CSS -->
	<link rel="stylesheet" href="assets/css/animate.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Color Picker Css -->
	<link rel="stylesheet" href="assets/plugins/@simonwep/pickr/themes/nano.min.css">

	<!-- Flowbite CSS -->
	<link rel="stylesheet" href="assets/css/flowbite.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="assets/css/dataTables.tailwindcss.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="../dist/style.css">

</head>

<body>
	<div id="global-loader">
		<div class="whirly-loader"> </div>
	</div>
		<!-- Main Wrapper -->
		<div class="w-full min-h-screen flex items-center justify-center bg-white">
				
				<div class="error-box text-center">
    
					<div class="error-img mb-0">
						<img src="assets/img/authentication/error-500.png" 
							 class="max-w-full h-auto mx-auto" 
							 alt="Img">
					</div>
				
					<h3 class="text-3xl font-semibold mb-3">Oops, something went wrong</h3>
				
					<p class="text-gray-600 max-w-md mx-auto mb-6">
						Server Error 500. We apologise and are fixing the problem
						Please try again at a later stage
					</p>
				
					<a href="index.html" 
					   class="btn bg-primary text-white">
						Back to Dashboard
					</a>
				
				</div>
		</div>


	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets/js/jquery.slimscroll.min.js"></script>

	<!-- Datatable JS -->
	<script src="assets/js/dataTables.js"></script>
	<script src="assets/js/dataTables.tailwindcss.js"></script>

	<!-- Select2 JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Flowbite JS -->
	<script src="assets/js/flowbite.min.js"></script>

	<!-- Color Picker JS -->
	<script src="assets/plugins/@simonwep/pickr/pickr.es5.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/theme-colorpicker.js"></script>
	<script src="assets/js/script.js"></script>

	
</body>

</html>